<%= simple_form_for proponent_form, url: path, html: { method: { new: :post, edit: :patch }[action] }, class: 'mt-4', data: { controller: 'proponent-form', turbo: false } do |form| %>
  <%= form.input :id, as: :hidden %>
  <div class="row mb-3">
    <div class="col">
      <%= form.input :name %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.input :cpf, input_html: { data: { 'proponent-form-target': "cpf" } } %>
    </div>
    <div class="col-md-6">
      <%= form.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 18 %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.input :salary, input_html: { data: { action: "focusout->proponent-form#calculate", 'proponent-form-target': "salary" } } %>
    </div>
    <div class="col-md-6">
      <%= form.input :inss, input_html: { data: { 'proponent-form-target': "inss" }, readonly: true } %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.input :street %>
    </div>
    <div class="col-md-6">
      <%= form.input :number %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.input :district %>
    </div>
    <div class="col-md-6">
      <%= form.input :city %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.input :state %>
    </div>
    <div class="col-md-6">
      <%= form.input :zip_code, input_html: { data: { 'proponent-form-target': "zipCode" } } %>
    </div>
  </div>
  <div class="row mb-3">
    <div id="phones-container" data-controller="phone-form" data-target="phone-form">
      <!-- <%= form.fields_for :phones, [proponent_form.phones&.first&.first ? Phone.new(proponent_form.phones.first.first) : Phone.new], child_index: Time.now.to_i do |phone_form| %>
        <div class="row phone-row form-group" data-phone-form-target="phoneRow">
          <div class="col-md-2">
            <%= phone_form.input :area_code %>
          </div>
          <div class="col-md-4">
            <%= phone_form.input :number %>
          </div>
          <div class="col-md-4">
            <%= phone_form.input :phone_type, as: :select, collection: Phone.phone_types.keys.map { |type| [t("activerecord.attributes.phone.phone_types.#{type}"), type] }, include_blank: false %>
          </div>
          <div class="col-md-2">
            <button data-action="click->phone-form#addPhone" type="button" class="btn btn-success add-phone-btn">+</button>
            <button data-action="click->phone-form#removePhone" type="button" class="btn btn-danger remove-phone-btn d-none">-</button>
          </div>
        </div>
      <% end %> -->
      <!-- <% if proponent_form.errors[:phones].present? %>
        <p class="text-danger"><%= proponent_form.errors[:phones].first %></p>
      <% end %> -->
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.submit t("proponents.#{action}.buttons.submit"), class: 'btn btn-primary' %>
      <%= link_to t("proponents.#{action}.buttons.back"), proponents_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
