<div class="container mt-3" data-controller="proponent-presenter">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t('activemodel.attributes.proponent_form.name')%>:</strong> <%= @proponent_presenter.name %></p>
      <p><strong><%= t('activemodel.attributes.proponent_form.cpf')%>:</strong> <%= @proponent_presenter.cpf %></p>
      <p><strong><%= t('activemodel.attributes.proponent_form.birthday')%>:</strong> <%= I18n.l(@proponent_presenter.birthday) %></p>
      <p><strong><%= t('activemodel.attributes.proponent_form.salary')%>:</strong> <span data-proponent-presenter-target="salary"><%= @proponent_presenter.salary %></span></span></p>
      <p><strong><%= t('activemodel.attributes.proponent_form.inss')%>:</strong> <span data-proponent-presenter-target="inss"><%= @proponent_presenter.inss %></span></span></p>
      <p><strong><%= t('activemodel.attributes.proponent_form.salary_liquid')%>:</strong> <span data-proponent-presenter-target="salaryLiquid"><%= @proponent_presenter.salary_liquid %></span></span></p>
    </div>

    <% if @proponent_presenter.street.present? %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t('.labels.address') %></h5>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.street')%>:</strong> <%= @proponent_presenter.street %></p>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.number')%>:</strong> <%= @proponent_presenter.number %></p>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.district')%>:</strong> <%= @proponent_presenter.district %></p>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.city')%>:</strong> <%= @proponent_presenter.city %></p>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.state')%>:</strong> <%= @proponent_presenter.state %></p>
            <p class="card-text"><strong><%= t('activemodel.attributes.proponent_form.zip_code')%>:</strong> <%= @proponent_presenter.zip_code %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @proponent_presenter.phones.each do |phone| %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t(".labels.#{phone.phone_type}_phone") %></h5>
            <p class="card-text">
              <strong><%= t('activerecord.attributes.phone.number') %>:</strong>
              <%= phone.number %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to t('.buttons.back'), proponents_path, class: 'btn btn-secondary border-0 rounded-pill shadow p-3 m-3' %>
</div>
