<div class="container mt-3">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <p><strong><%= I18n.t('activemodel.attributes.proponent_form.name')%>:</strong> <%= @proponent_presenter.name %></p>
      <p><strong><%= I18n.t('activemodel.attributes.proponent_form.cpf')%>:</strong> <%= @proponent_presenter.cpf %></p>
      <p><strong><%= I18n.t('activemodel.attributes.proponent_form.birthday')%>:</strong> <%= I18n.l(@proponent_presenter.birthday) %></p>
      <p><strong><%= I18n.t('activemodel.attributes.proponent_form.salary')%>:</strong> <%= @proponent_presenter.salary %></p>
    </div>

    <% if @proponent_presenter.street.present? %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Endereço</h5>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.street')%>:</strong> <%= @proponent_presenter.street %></p>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.number')%>:</strong> <%= @proponent_presenter.number %></p>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.district')%>:</strong> <%= @proponent_presenter.district %></p>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.city')%>:</strong> <%= @proponent_presenter.city %></p>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.state')%>:</strong> <%= @proponent_presenter.state %></p>
            <p class="card-text"><strong><%= I18n.t('activemodel.attributes.proponent_form.zip_code')%>:</strong> <%= @proponent_presenter.zip_code %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Voltar para a lista de proponentes', proponents_path, class: 'btn btn-secondary' %>
</div>
